<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOOPING CART</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container card  ">
        <!-- div pour Shopping cart -->
        <div class="row ">
            <div class="border col-sm-8 bg-light ">
                <div class="cart">
                    <div>
                        <h1>Shopping cart</h1>
                        <input type="search" placeholder="search by title">
                    </div>
                    <hr>

                    <div class="row border-top border-bottom">
                        <br>
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="/template/img/black.jpg"></div>
                            <div class="col">
                                <div class="row text-muted">Shirt</div>
                                <div class="row"> Cotton T-shirt</div>
                            </div>
                            <div class="col d-flex justify-content-center"> <button type="button"
                                    class="btn btn-light">-</button> <input type="number" value="1"
                                    class="mx-sm-1 mb-1">
                                <button type="button" class="btn btn-light">+</button>
                            </div>
                            <div class="col">&euro; 44.00 <button type="button" class="btn btn-light"><i
                                        class="far fa-times-circle"></i> </button> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row main align-items-center">
                            <br>
                            <div class="col-2"><img class="img-fluid" src="img/blue.jpg"></div>
                            <div class="col">
                                <div class="row text-muted">Shirt</div>
                                <div class="row">Cotton T-shirt</div>
                            </div>
                            <div class="col d-flex justify-content-center"> <button type="button"
                                    class="btn btn-light">-</button> <input type="number" value="1"
                                    class="mx-sm-1 mb-1">
                                <button type="button" class="btn btn-light">+</button>
                            </div>
                            <div class="col">&euro; 44.00 <button type="button" class="btn btn-light"><i
                                        class="far fa-times-circle"></i> </button> </div>
                        </div>
                    </div>
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="/template/img/pink.jpg"></div>
                            <div class="col">
                                <div class="row text-muted">Shirt</div>
                                <div class="row">Cotton T-shirt</div>
                            </div>
                            <br>
                            <div class="col d-flex justify-content-center"> <button type="button"
                                    class="btn btn-light">-</button> <input type="number" value="1"
                                    class="mx-sm-1 mb-1">
                                <button type="button" class="btn btn-light">+</button>
                            </div>
                            <div class="col">&euro; 44.00
                                <button type="button" class="btn btn-light">
                                    <i class="far fa-times-circle"></i> </button>
                            </div>
                        </div>
                    </div>

                    <br>


                    <button type="button" class="btn btn-light"><i class="fas fa-directions"></i>

                        Back to shop</button>
                </div>
                <!-- div pour Shopping cart -->
            </div>
            <div style="background-color: #ddd; " class="border col-sm-4 bg-secondary summary">
                <h2>Summary</h2>
                <hr>
                <h5>Item 3 $ 132.00 </h5>
                <br>
                <h5>Shipping</h5>
                <select name="" id="">
                    <option value="Shipping-Delivery-$5.00">Shipping-Delivery-$5.00</option>
                </select>
                <br> <br>
                <h5>GIVE CODE</h5>
                <input type="number">

                <hr>

                <h5>TOTAL PRICE :   $137.00</h5>
                <button  type="button" class="btn btn-dark">REGISTER</button>
            </div>
        </div>

        <!-- Div pour summary -->

    </div>

</body>

</html>